body {
    background-color: #FFDEAD;
}
div .buttonGroup {
   position: absolute;
   bottom: 0;
   left: 0;
}

.button04 a {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 1em 2em;
  width: 150px;
  color: #333;
  font-size: 15px;
  font-weight: 700;
  background-color: #cccccc;
  box-shadow: 0 5px 0 #aaaaaa;
  transition: 0.3s;
}

.button04 a::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
  transform: rotate(45deg);
}

.button04 a:hover {
  transform: translateY(3px);
  text-decoration: none;
  box-shadow: 0 2px 0 #aaaaaa;
}