body {
    background-color: #99FF66;
}

.search {
    text-align: right;
    }
.flex{
    padding: 2.5% 0;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
}
.flex > *{
    min-width: 8%;
    background: #fff;
    font-size: 64px;
    text-align: center;
}

.flex > *{
    border: 3px solid #aaa;
}
